<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Web Sender</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1 contenteditable="true" spellcheck="false" id="header-title">Отправка сообщения</h1>
        <form action="/send" method="post">
            <div class="input-group">
                <label for="channel">Выбери чат</label>
                <select name="channel" id="channel" required>
                    {% for category, channels in channels.items() %}
                    <optgroup label="{{ category }}">
                        {% for channel in channels %}
                        <option value="{{ channel.id }}">#{{ channel.name }}</option>
                        {% endfor %}
                    </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <label for="message">Текст сообщения</label>
                <textarea name="message" id="message" placeholder="Введи сообщение..." required></textarea>
                <small>Ты можешь использовать <code>**жирный**</code>, <code>__подчёркнутый__</code>, <code>~~зачёркнутый~~</code>, <code>`моноширинный`</code></small>
            </div>
            <div class="input-group">
                <label for="image_url">Маленькое изображение (необязательно)</label>
                <input type="url" name="image_url" id="image_url" placeholder="https://example.com/thumb.png">
            </div>
            <div class="input-group">
                <label for="button_label">Кнопка: Текст</label>
                <input type="text" name="button_label" id="button_label" placeholder="Открыть сайт...">
            </div>
            <div class="input-group">
                <label for="button_url">Кнопка: URL</label>
                <input type="url" name="button_url" id="button_url" placeholder="https://example.com">
            </div>
            <button type="submit" class="send-button">Отправить</button>
        </form>
    </div>
</body>
</html>
